body {
  background-color: black;
}

a {
  color: #FD9308;
  font-family: "Fredoka One", sans-serif;
  text-decoration: none;
  margin: 0 10px 0 10px;
  padding: 0 5px 0 5px;
}

a:hover {
  color: #FFC78A;
}

h1 {
  color: white;
  font-family: Arial, serif;
  font-weight: 400;
}

p {
  color: white;
}

.index-artist {
  position: absolute;
  top: 45px;
  left: 25px;
  color: white;
  font-family: 'Dancing Script', cursive, serif;
  text-shadow: 2px 2px 2px black;
}

.index-title {
  position: absolute;
  top: 20px;
  left: 25px;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 2px black;
}

.artist {
  position: absolute;
  top: 75px;
  left: 20px;
  color: white;
  font-family: 'Dancing Script', cursive, serif;
  text-shadow: 2px 2px 2px black;
}

.title {
  position: absolute;
  top: 50px;
  left: 20px;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 2px black;
}

/*
Other changes to make:
  1. Make a white border around each photo.                                         DONE
  2. Make a jQuery window carousel (lightbox?).
  3. Make a dropdown menu for new/edit/delete (jQuery?).
  4. Add an option to make the lightbox periodically change (automatic shuffle).
  5. Add a semi-transparent background using a random photo.
*/

img {
  border: 1px solid white;
}

body {
   overflow: hidden;
}

ul {
  width: 1920px;
  padding: 0;
  margin: 0;
}

ul li {
  width: 600px;
  text-align: center;
  height: 280px;
  list-style: none;
  float: left;
}

ul li:first-child {
  position: relative;
  z-index: 3;
}

ul li:nth-child(2) {
  position: relative;
  z-index: 2;
}

ul li:last-child {
  position: relative;
  z-index: 1;
}

/*

body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #E3CAA1;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

 */
