<link href='https://fonts.googleapis.com/css?family=Fredoka+One|Oswald|Dancing+Script' rel='stylesheet' type='text/css'>

<h1>Pictures</h1>
<%= link_to "New Picture", "/pictures/new" %>

<ul class="slider">
  <% @pictures.each do |picture| %>
    <li>
      <p><div class="index-title"><%=  picture[:title] %>,</div> <div class="index-artist"><%= picture[:artist] %></div></p>
      <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
      <!-- image_tag takes in the url property of the picture (the raw url) in order to render the image. -->
    </li>
  <% end %>
</ul>
