<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

<h1>Pictures</h1>
<%= link_to "New Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>
  <p><div class="title"><%=  picture[:title] %>,</div> <div class="artist"><%= picture[:artist] %></div></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
  <!-- image_tag takes in the url property of the picture (the raw url) in order to render the image. -->
<% end %>
